[Unit]
Description=EDNS Accelerator for SlowDNS
After=network.target server-sldns.service
Requires=server-sldns.service

[Service]
ExecStart=/usr/local/bin/edns-proxy
Restart=always
RestartSec=2
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
